<!-- <app-header></app-header> -->
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <img [src]="mainimg">
        <p></p>  <p></p>
        <p>Gulf Coast Western specializes in the exploration, development and acquisition of domestic oil and gas reserves primarily in the Gulf Coast region of the United States. Since 1970, our strategy throughout our history has never wavered – to capitalize on our extensive industry network and strategic partnerships to secure opportunities in superior oil and gas prospects and properties that provide significant return potential with quantified downside risk for our participating Partners. </p>
        <p></p>  <p></p>
    </div>
    <div class="col-md-2"></div>
    <ng-image-slider [images]="imgCollection" #nav></ng-image-slider>
</div>
