.navbar-brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 15rem;
    font-size: 33px;
    text-decoration: none;
    white-space: nowrap;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
    padding: 5px 25px;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color:#45a9f9 !important;
    font-size: 16px;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
    font-weight: 500;
}

